# Angular cache e build
.angular/
dist/
node_modules/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
*.js.map

# Environment files locali (se vuoi tenere segreti)
.env
.env.local
